lead_form_workflow/lead_flow_workflow.json
{
  "name": "Lead Form Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lead Form",
        "formDescription": "Form for new leads for my automation agency",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Enter your name",
              "requiredField": true
            },
            {
              "fieldLabel": "What project do you want automated?",
              "fieldType": "textarea",
              "placeholder": "Describe your project goal here",
              "requiredField": true
            },
            {
              "fieldLabel": "Time Frame",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1-3 months"
                  },
                  {
                    "option": "3-6 months"
                  },
                  {
                    "option": "6-9 months"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Project Budget",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "$10 - $49"
                  },
                  {
                    "option": "$50 - $199"
                  },
                  {
                    "option": "$200 - $399"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        200
      ],
      "id": "1b2e57fc-1bcd-4cd4-b656-e1c0e6f4b79c",
      "name": "Lead Form",
      "webhookId": "5a810028-8893-4593-bcbb-fbc1a45e76e1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Project Budget'] }}",
                    "rightValue": "$10 - $49",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6c897b4b-78a3-4604-ab98-6918ee21333c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low Budget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e9927430-8dd5-4483-a5a5-5ca59172679f",
                    "leftValue": "={{ $json['Project Budget'] }}",
                    "rightValue": "$50 - $199",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medium Budget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c8cbc2d-8782-4601-b18f-707974039cc4",
                    "leftValue": "={{ $json['Project Budget'] }}",
                    "rightValue": "$200 - $399",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Budget"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        220,
        200
      ],
      "id": "2304da84-af34-48f0-b76b-6bcc697aa8be",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "ipsum770@gmail.com",
        "subject": "=New Automation Lead: {{ $json['Full Name'] }}",
        "emailType": "text",
        "message": "=Hi {{ $json['Full Name'] }},\n\nThank you for reaching out to us with your project details.\n\nWe have received your inquiry regarding \"{{ $json['What project do you want automated?'] }}\" and have noted the following information:\n\nTime Frame: {{ $json['Time Frame'] }}\n\nProject Budget: {{ $json['Project Budget'] }}\n\nDate Received: {{ $json.submittedAt }}\n\nWe are currently reviewing your request and will get back to you shortly to discuss the next steps.\n\nBest regards,\n\nJohn Doe\nLorem Ipsum Corporation",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "id": "e4d4bf25-cc2c-4d22-ba72-78c2c151af7d",
      "name": "High Budget Email",
      "webhookId": "2cfac351-bce5-40a2-ab15-de8110385909",
      "credentials": {
        "gmailOAuth2": {
          "id": "hXuFdMj115U9OW0S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ipsum770@gmail.com",
        "subject": "=New Automation Lead: {{ $json['Full Name'] }}",
        "emailType": "text",
        "message": "=Hi {{ $json['Full Name'] }},\n\nThank you for reaching out to us with your project details.\n\nWe have received your inquiry regarding \"{{ $json['What project do you want automated?'] }}\" and have noted the following information:\n\nTime Frame: {{ $json['Time Frame'] }}\n\nProject Budget: {{ $json['Project Budget'] }}\n\nDate Received: {{ $json.submittedAt }}\n\nWe are currently reviewing your request and will get back to you shortly to discuss the next steps.\n\nBest regards,\n\nJohn Doe\nLorem Ipsum Corporation",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        400
      ],
      "id": "4cd52594-426e-4a85-aa24-9d26130589d2",
      "name": "Low Budget Email",
      "webhookId": "2cfac351-bce5-40a2-ab15-de8110385909",
      "credentials": {
        "gmailOAuth2": {
          "id": "hXuFdMj115U9OW0S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_677638601008717320"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        0
      ],
      "id": "4f0db32f-ecec-4fae-be16-f04c2acf80a6",
      "name": "High Budget Label",
      "webhookId": "3af4631b-027e-4bd7-ba9f-8c3d72732f62",
      "credentials": {
        "gmailOAuth2": {
          "id": "hXuFdMj115U9OW0S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_7021340606924893343"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        200
      ],
      "id": "2beba6f5-dacd-4367-8fc1-f72de1adb480",
      "name": "Medium Budget Label",
      "webhookId": "3af4631b-027e-4bd7-ba9f-8c3d72732f62",
      "credentials": {
        "gmailOAuth2": {
          "id": "hXuFdMj115U9OW0S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_3265145165866764487"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        400
      ],
      "id": "10b6e5e9-05ab-483b-95f1-23cd3c70819e",
      "name": "Low Budget Label",
      "webhookId": "3af4631b-027e-4bd7-ba9f-8c3d72732f62",
      "credentials": {
        "gmailOAuth2": {
          "id": "hXuFdMj115U9OW0S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ipsum770@gmail.com",
        "subject": "=New Automation Lead: {{ $json['Full Name'] }}",
        "emailType": "text",
        "message": "=Hi {{ $json['Full Name'] }},\n\nThank you for reaching out to us with your project details.\n\nWe have received your inquiry regarding \"{{ $json['What project do you want automated?'] }}\" and have noted the following information:\n\nTime Frame: {{ $json['Time Frame'] }}\n\nProject Budget: {{ $json['Project Budget'] }}\n\nDate Received: {{ $json.submittedAt }}\n\nWe are currently reviewing your request and will get back to you shortly to discuss the next steps.\n\nBest regards,\n\nJohn Doe\nLorem Ipsum Corporation",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        200
      ],
      "id": "ee484773-e915-4090-b3fa-b4f2a7e1ea2e",
      "name": "Medium Email",
      "webhookId": "2cfac351-bce5-40a2-ab15-de8110385909",
      "credentials": {
        "gmailOAuth2": {
          "id": "hXuFdMj115U9OW0S",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Lead Form": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Low Budget Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Medium Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "High Budget Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Budget Email": {
      "main": [
        [
          {
            "node": "High Budget Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Budget Email": {
      "main": [
        [
          {
            "node": "Low Budget Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Medium Email": {
      "main": [
        [
          {
            "node": "Medium Budget Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6bc9479d-779f-40a0-b934-a698de6c35ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6242a9a0a8bbeca1879344ceda4f84b1b33053a17624721caa6f54c2c0b8196"
  },
  "id": "6Ux0RsHZ5nR8lnUH",
  "tags": [
    {
      "createdAt": "2025-07-01T02:30:48.996Z",
      "updatedAt": "2025-07-01T02:30:48.996Z",
      "id": "EHH2XDmyI7v1MyNh",
      "name": "Practice"
    }
  ]
}