rss_feed_generator_workflow/rss_feed_generator_workflow.json
{
  "name": "Custom RSS Feed Generator for ESPN Site",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.espn.ph/",
        "options": {}
      },
      "id": "8d2ff59a-1daa-4b5e-bd49-7c6cee3e61fa",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -520,
        180
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "link",
              "cssSelector": "h2.contentItem__title a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "title",
              "cssSelector": "h2.contentItem__title",
              "returnArray": true
            },
            {
              "key": "link",
              "cssSelector": "a[data-mpType=\"headline\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "title",
              "cssSelector": "a[data-mpType=\"headline\"]",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "37d6b62d-f79a-4e99-b24f-b4f95a97c1bd",
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        -300,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "3bebc0d1-fced-4888-a3ba-a8d8c82c479f",
      "name": "Generate RSS Feed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -80,
        180
      ]
    },
    {
      "parameters": {
        "path": "rss",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4c86f05b-45b8-4dc6-b8c2-1d3d0c082966",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -740,
        180
      ],
      "webhookId": "65e2b73e-8e65-4584-b765-d3133e31b642"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Generate RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0af48d88-f9ea-405b-8f59-ca202eeb5976",
  "meta": {
    "instanceId": "f6242a9a0a8bbeca1879344ceda4f84b1b33053a17624721caa6f54c2c0b8196"
  },
  "id": "Fsx8USf0XiJAtZfs",
  "tags": []
}